@namespace Totalview.BlazorClient.Client.Components

<div class="tv-body">
    <div class="tv-body-left">
        <div class="tv-body-left-fill">
            <ResourcesComponent />
        </div>
        <div class="tv-body-left-footer">
            <BottomComponent />
        </div>
    </div>

    <div class="tv-body-right">
        <FiltersComponent />
    </div>
</div>
