@namespace Totalview.BlazorClient.Client.Components

<div class="tv-main">

    <Totalview.BlazorClient.Client.Components.HeaderComponent />

    <Totalview.BlazorClient.Client.Components.NavMenuComponent />

    <Totalview.BlazorClient.Client.Components.BodyComponent />

    <Totalview.BlazorClient.Client.Components.FooterComponent />
</div>

<WindowsContainerComponent></WindowsContainerComponent>