<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="logs\internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File"
            name="file"
            fileName="logs\_current.log"
            archiveFileName="logs\log-{#}.log"
            archiveEvery="day"
            createDirs="true"
            archiveNumbering="date"
            maxArchiveFiles="30"
            archiveDateFormat="yyyyMMdd"
            layout="${time} | ${uppercase:${level:truncate=4}} | ${logger:shortName=true} | ${callsite:className=false:fileName=true:includeSourcePath=false} | ${message}${when:when=length('${exception}')>0:Inner= | }${exception:format=toString}" >
    </target>

    <target xsi:type="ColoredConsole"
            name="lifetimeConsole"
            detectConsoleAvailable="true"
            useDefaultRowHighlightingRules="true"
            enableAnsiOutput="false"
            detectOutputRedirected="false"
            layout="[${uppercase:${level:truncate=4}}] ${time} | ${logger:shortName=true} | ${message}${when:when=length('${exception}')>0:Inner= | }${exception:format=toString}" >
      <highlight-word text="TRAC" foregroundColor="gray" />
      <highlight-word text="DEBU" foregroundColor="blue" />
      <highlight-word text="INFO" foregroundColor="green" />
    </target>

    <target xsi:type="Debugger"
            name="debugLog"
            layout="${time} | ${uppercase:${level:truncate=4}} | ${logger:shortName=true} | ${callsite:className=true:fileName=true:includeSourcePath=true} | ${message}${when:when=length('${exception}')>0:Inner= | }${exception:format=toString}" >     
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file, lifetimeConsole, debugLog" />
  </rules>
</nlog>