@namespace Totalview.BlazorClient.Client.Components

<div class="tv-filters">
    <StateFilterComponent></StateFilterComponent>

    <CallGroupsFilterComponent></CallGroupsFilterComponent>

    <CapabilitiesFilterComponent></CapabilitiesFilterComponent>

    <DivisionFilterComponent></DivisionFilterComponent>
</div>

