@namespace Totalview.BlazorClient.Client.Components

<div class="tv-state-filter">
    <div class="tv-box-blue">
        <div class="tv-box-blue-header">
            <div class="tv-box-blue-title">
                Støða
            </div>
        </div>
        <div class="tv-box-blue-content">
            <select name="example" size="3">
                <option value="1">
                    Ikki til arbeiðis
                </option>
                <option value="1">
                    Inni
                </option>
                <option value="1">
                    Heima
                </option>
            </select>
        </div>
    </div>
</div>