@namespace Totalview.BlazorClient.Client.Components

<div class="tv-bottom">
    <PhoneControlBottomComponent />
    <CommunicationHistoryBottomComponent />
    <CallGroupsBottomComponent />
    <CommunicationBottomComponent />
    <AppointmentsBottomComponent />
</div>