@namespace Totalview.BlazorClient.Client.Components

<div class="tv-state-filter">
    <div class="tv-box-blue">
        <div class="tv-box-blue-header">
            <div class="tv-box-blue-title">
                Phone Control
            </div>
        </div>
        <div class="tv-box-blue-content">
        </div>
    </div>
</div>